<!-- ★FORMS
------------------------------>

<!-- CUEPOINT NAME
------------------------------>
<div class="form-group">
  <label class="col-sm-2 control-label">Name</label>
  <div class="col-sm-9">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

