<h1>キューポイント登録</h1>

<!-- FORM (from partial)
------------------------------>
<% render 'cuepoints/form' %>

<!-- BUTTONS
------------------------------>
<%= f.submit '登録', class: "btn btn-success" %>
<%= link_to '中止', cuepoints_path, class: "btn btn-default" %>