<h1>キャンペーン登録</h1>

<!-- FORM (from partial)
------------------------------>
<% render 'campaigns/form' %>

<!-- BUTTONS
------------------------------>
<%= f.submit '登録', class: "btn btn-success" %>
<%= link_to '中止', campaigns_path, class: "btn btn-default" %>